.feedback-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 500px;
}

.form-group label {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    height: 150px;
    resize: vertical;
}

.form-group .error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

.feedback-form button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #ce000c;
}

.feedback-form button:hover {
    background-color: #990000;
}
